body {
    margin-bottom: 50px;
    background-image: url("../images/concrete-texture.png");
}

.card-body {
    margin: 30px 0px;
    background-color: white;
}

.navbar-brand {
    background-color: #4AAAA5;
    padding: 10px 40px;
    color: white !important;
    font-size: 24px;
}

.card-title {
    font-size: 24px;
    color: #4AAAA5 !important;
}

.section-img {
    width: 200px;
    margin-right: 20px;
}

footer {
    z-index: 1;
    
}

.footer-panel {
    padding-top: 15px;
    height: 100%;
    background-color: darkgray;
}

.project-tile {
    margin: auto;
    background-image: url("http://i0.kym-cdn.com/entries/icons/original/000/021/807/4d7.png");
    background-size: 250px;
    width: 250px;
    height: 190px;
    margin-top: 20px;
    position: relative;
    
}

.project-tile > img {
    width: 100%;
    z-index: 0;
    
}

.project-title {
    background: #4AAAA5;
    width: 100%;
    height: 40px;
    z-index: 2;
    position: absolute;
    top: 130px;
}

.project-title > p {
    text-align: center;
    color: #FFFFFF;
    line-height: 40px;
}

#submit {
    background-color: #4AAAA5 !important;
    color: white;
}